<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar fixed-top navbar-light bg-light">
      <div class="container-fluid">
        <%= link_to "La Fourchette", restaurants_path, class: "navbar-brand" %>
        <%= link_to "New Restaurant", new_restaurant_path, class: "navbar-brand" %>
      </div>
    </nav>
      <div style="margin-top: 120px">
        <%= yield %>
      </div>
  </body>
</html>
